<footer class="footer" style="background-color: black;">
    <div class="container text-black">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a target="_blank" href="https://www.linkedin.com/in/mohammed-saleel">About Us</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/mohammed-saleel">Contact</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/mohammed-saleel">Terms & Conditions</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made by Mohammed Saleel 
                </span>
            </div>
        </div>
    </div>
</footer>